.details {
    font-size: 24px;
    margin-top: 25px;
  }
  
h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.9;
}

p {
  color: #070b0f;
  font-weight: 600;
  font-size: 0.9rem;
  opacity: 0.9;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  position:absolute;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  height: 100%;
  width: 100%; 
  background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.3)
        );
  border-radius: 2rem;
  z-index: 5;
  backdrop-filter: blur(2rem);   
  display: flex;
  opacity: 90%;
}
.glass h1{
    text-align: left;
    padding-left: 15px;
}


.card-text p, h3{
  color: #070b0f;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.85;
}

.card-text table, th{
  border: 2px #070b0f;
  font-size: 1.5rem;
}

.card-body table, th, td {
  border: 2px #070b0f;
}

.answer-table, td {
  position: relative;
  border: none;
  padding: 1 rem;
  width: 100% px;
  font-family: Verdana;
  font-size: normal;
}

.question{
  color: #070b0f;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.9;
}


.circle1,.circle2{
  background: white;
  background: linear-gradient(
      to right bottom, 
      rgba(255,255,255,0.8), 
      rgba(255,255,255,0.1)
      );
  height: 15rem;
  width: 15rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.circle1{
  top: 5%;
  left: 10%;
}
.circle2{
  top: 60%;
  left: 75%;
}