<main>

  <section class="glass">
    <app-sidebar></app-sidebar>
    <div class="quizzes">
      <h1>Welcome to the Quiz!</h1>
      <p class="details"></p>
      <div class="quiz_display_table">


        <div class="card"
          style="background-color: aliceblue; position: fixed; margin-left: 10%; width: 70%; height: 850px; overflow-y: scroll;">

          <!-- display python questions -->

          <div class="card-body" *ngIf="this.quizService.python">
            <div class="card-text">
              <h3>Python</h3>
              <!-- Easy python -->
              <div *ngIf="this.quizService.easy">
                <table id="Python Quiz">
                  <tbody>
                    <div *ngFor="let py of this.quizService.pythonQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{py.python_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)" required="required">
                            {{answer}}
                          </div>
                        </div>
                      </tr>
                      <!-- display user selection at base of -->
                      <div style="font-size: small;">
                        <small>
                          Selected: {{selectedAnswers.get(outer_i)}}
                        </small>
                      </div>
                    </div>
                  </tbody>
                  <a>
                    <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()" class="btn btn-primary">Submit</button>
                  </a>
                  <a routerLink="/home" routerLinkActive="active">
                    <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                  </a>

                </table>
              </div>

              <!-- Medium python -->
              <div *ngIf="this.quizService.medium">
                <table id="Python Quiz">
                  <tbody>
                    <div *ngFor="let py of this.quizService.pythonMedQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{py.python_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)" required="required">
                            {{answer}}
                          </div>

                        </div>
                      </tr>
                      <!-- display user selection at base of -->
                      <div style="font-size: small;">
                        <small>
                          Selected: {{selectedAnswers.get(outer_i)}}
                        </small>
                      </div>
                    </div>
                  </tbody>
                  <a>
                    <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()" class="btn btn-primary">Submit</button>
                  </a>
                  <a routerLink="/home" routerLinkActive="active">
                    <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                  </a>

                </table>
              </div>

              <!-- Hard python -->
              <div *ngIf="this.quizService.hard">
                <table id="Python Quiz">
                  <tbody>
                    <div *ngFor="let py of this.quizService.pythonHardQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{py.python_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)" required="required">
                            {{answer}}
                          </div>

                        </div>
                      </tr>
                      <!-- display user selection at base of -->
                      <div style="font-size: small;">
                        <small>
                          Selected: {{selectedAnswers.get(outer_i)}}
                        </small>
                      </div>
                    </div>
                  </tbody>
                  <a>
                    <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()" class="btn btn-primary">Submit</button>
                  </a>
                  <a routerLink="/home" routerLinkActive="active">
                    <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                  </a>

                </table>
              </div>

            </div>
          </div>

          <!-- display java questions -->
          <div class="card-body" *ngIf="this.quizService.java">
            <div class="card-text">
              <h3>Java</h3>
              <!-- Easy java -->
              <div *ngIf="this.quizService.easy">
                <table id="Java Quiz">
                  <tbody>
                    <div *ngFor="let ja of this.quizService.javaQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{ja.java_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)" required="required">
                            {{answer}}
                          </div>
                        </div>
                      </tr>
                      <!-- display user selection at base of -->
                      <div style="font-size: small;">
                        <small>
                          Selected: {{selectedAnswers.get(outer_i)}}
                        </small>
                      </div>
                    </div>
                  </tbody>
                  <a>
                    <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()" class="btn btn-primary">Submit</button>
                  </a>
                  <a routerLink="/home" routerLinkActive="active">
                    <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                  </a>

                </table>
              </div>

              <!-- Medium python -->
              <div *ngIf="this.quizService.medium">
                <table id="Java Quiz">
                  <tbody>
                    <div *ngFor="let ja of this.quizService.javaMedQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{ja.java_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)" required="required">
                            {{answer}}
                          </div>

                        </div>
                      </tr>
                      <!-- display user selection at base of -->
                      <div style="font-size: small;">
                        <small>
                          Selected: {{selectedAnswers.get(outer_i)}}
                        </small>
                      </div>
                    </div>
                  </tbody>
                  <a>
                    <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()" class="btn btn-primary">Submit</button>
                  </a>
                  <a routerLink="/home" routerLinkActive="active">
                    <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                  </a>

                </table>
              </div>

              <!-- Hard python -->
              <div *ngIf="this.quizService.hard">
                <table id="Java Quiz">
                  <tbody>
                    <div *ngFor="let ja of this.quizService.javaHardQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{ja.java_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)" required="required">
                            {{answer}}
                          </div>

                        </div>
                      </tr>


                      <!-- display user selection at base of -->
                      <div style="font-size: small;">
                        <small>
                          Selected: {{selectedAnswers.get(outer_i)}}
                        </small>
                      </div>
                    </div>
                  </tbody>
                  <a>
                    <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()" class="btn btn-primary">Submit</button>
                  </a>
                  <a routerLink="/home" routerLinkActive="active">
                    <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                  </a>

                </table>
              </div>
            </div>
          </div>


          <!-- display cpp questions -->
          <div class="card-body" *ngIf="this.quizService.cpp">
            <div class="card-text">
              <h3>C++</h3>
              <!-- Easy cpp -->
              <div *ngIf="this.quizService.easy">
                <table id="Cpp Quiz">
                  <tbody>
                    <div *ngFor="let c of this.quizService.cppQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{c.cpp_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)"
                              required="required">
                            {{answer}}
                          </div>

                        </div>
                      </tr>
                      <!-- display user selection at base of -->
                      <div style="font-size: small;">
                        <small>
                          Selected: {{selectedAnswers.get(outer_i)}}
                        </small>
                      </div>
                    </div>
                    <a>
                      <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()"
                        class="btn btn-primary">Submit</button>
                    </a>
                    <a routerLink="/home" routerLinkActive="active">
                      <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                    </a>
                  </tbody>
                </table>
              </div>


              <!-- Med cpp -->
              <div *ngIf="this.quizService.medium">
                <table id="Cpp Quiz">
                  <tbody>
                    <div *ngFor="let c of this.quizService.cppMedQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{c.cpp_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)" required="required">
                            {{answer}}
                          </div>
                        </div>
                      </tr>

                        <!-- display user selection at base of -->
                        <div style="font-size: small;">
                          <small>
                            Selected: {{selectedAnswers.get(outer_i)}}
                          </small>
                        </div>

                    </div>
                    <a>
                      <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()" class="btn btn-primary">Submit</button>
                    </a>
                    <a routerLink="/home" routerLinkActive="active">
                      <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                    </a>
                  </tbody>
                </table>
              </div>


              <!-- hard cpp -->
              <div *ngIf="this.quizService.hard">
                <table id="Cpp Quiz">
                  <tbody>
                    <div *ngFor="let c of this.quizService.cppHardQuestions; let outer_i = index">
                      <tr>
                        <th>{{outer_i + 1}}: {{c.cpp_questions}}</th>
                      </tr>
                      <tr>
                        <div class="form-check" *ngFor="let answer of this.randArr[outer_i]; let i = index">
                          <div *ngIf="answer != null" class="answer-selection">
                            <input class="form-check-input" type="radio" name="options" (change)="selectAnswer(outer_i, i, answer)" required="required">
                            {{answer}}
                          </div>

                        </div>
                      </tr>
                      <!-- display user selection at base of -->
                      <div style="font-size: small;">
                        <small>
                          Selected: {{selectedAnswers.get(outer_i)}}
                        </small>
                      </div>
                    </div>
                    <a>
                      <button type="button" (click)="this.nameService.completedQuiz=true; areYouSure()" class="btn btn-primary">Submit</button>
                    </a>
                    <a routerLink="/home" routerLinkActive="active">
                      <button type="button" class="btn btn-primary" (click)="refreshQuizzes()">Cancel</button>
                    </a>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="circle1"></section>
  <section class="circle2"></section>
</main>
