
<!-- This file is done, all modifications to quiz-results willl likely have to be made in the typescript file-->
<main>
    <section class = "glass">
        <app-sidebar></app-sidebar>
            <div class = "container">
                <div class = "results_card">
                   <p>Congratulations on finishing the Quiz!!</p>
                   <div class = "score_display">
                    <p>Your Score:</p>
                   </div>
                   <div class = "score">
                    <p>{{user_score}}%</p>
                   </div>
                </div>
                <div class = "wizard_container">
<!--
                  <div>
                  <button (click)="generateRandomName()">random name</button>
                  </div>
                  <div>
                  <button (click)="goToLeaderboard()">Go to leaderboard</button>
                  </div>
                  <div>
                  <button (click)="retakeQuiz()">Retake this quiz</button>
                  </div>
-->
                    <img src="../../../assets/images/wizard.png" alt="">
                    <p>{{getWizardMessage(user_score)}}<br>
                        You've earned {{getPoints()}} points"</p>

                </div>
                <div class="buttons" *ngIf="this.loginService.loggedIn==true;else guest">

                        <div>
                        <button class="btn btn-primary btn-sm" (click)="generateRandomName()">random name</button>
                        </div>
                        <div>
                        <button class="btn btn-primary btn-sm" (click)="goToLeaderboard()">Go to leaderboard</button>
                        </div>
                        <div>
                        <button class="btn btn-primary btn-sm" (click)="retakeQuiz()">Retake this quiz</button>
                        </div>
                </div>
                <ng-template #guest>
                  <div class="buttons">
                    <button class="btn btn-primary btn-sm" (click)="retakeQuiz()">Retake this quiz</button>
                    <button class="btn btn-primary btn-sm" routerLink="/home" routerLinkActive="active">Return to Home</button>
                  </div>
                </ng-template>
            </div>
    </section>
</main>
