h1 {
    color: #0f1925;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.9;
   }
  
  p {
    color: #070b0f;
    font-weight: 600;
    font-size: 0.9rem;
    opacity: 0.9;
  }
  
  main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    height: 100%;
    width: 100%;
    min-width: 70rem;
    background: linear-gradient(
          to right bottom, 
          rgba(255,255,255,0.7), 
          rgba(255,255,255,0.3)
          );
    border-radius: 2rem;
    z-index: 5;
    backdrop-filter: blur(2rem);   
    display: flex;    
    opacity: 90%;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50rem;
 }

  .results_card {
      position: relative;      
      padding: 1rem;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 5rem;
      background: rgb(81, 198, 202);
      height: 50%;
      width: auto;
      border-radius: 4rem;
      z-index: 5;
      opacity: 90%;
      text-align: center;     
  }
  .results_card p {
      font-size: 3rem;
  }

  .results_card img{
      width: 15rem;
      height: auto;    
  }

  .score p{
    font-size: 7rem;
    font-weight: 1000;
    opacity: none;
  }
  .score_display p {
      font-size: 2rem;
  }

  .glass img {
      width: 15rem;
      height: 15rem;
      margin-left: 0;
      margin-bottom: 6rem;
  }

  .wizard_container {
      display: flex;
      flex-direction: row;
      
  }
  .wizard_container p {
    font-size: 2rem;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2%;
    padding: 5px;
  }


  .glass h1{
      text-align: left;
      padding-left: 15px;
  }
  