<main>

  <section class = "glass">

    <app-sidebar></app-sidebar>

    <div class = "page-name">
      <h1>User Profile</h1>
    </div>

    <div class = "profile-container">


      <div class = "user-data">
        <h1>User Info</h1>
        <table>
          <tr>
            <th scope ="row">Username</th>
            <td> {{user}}</td>
          </tr>
          <tr>
            <th scope ="row">Alias</th>
            <td *ngIf="this.randName!=='';else dash">
              {{this.randName.randomname}}</td>
              <ng-template #dash>
                <td>-</td>
              </ng-template>
          </tr>
        </table>
      </div>

      <div class = "quiz-data">
        <h1>Quiz History</h1>
        <table>
          <tr>
            <th scope ="row">C++ Best Score</th>
            <td>{{this.cppScore}}%</td>
          </tr>
          <tr>
            <th scope ="row">Java Best Score</th>
            <td>{{this.javaScore}}%</td>
          </tr>
          <tr>
            <th scope ="row">Python Best Score</th>
            <td>{{this.pythonScore}}%</td>
          </tr>
        </table>
      </div>

      <div class = "quizzard-points">
        <h1>Quizzard Stash</h1>
        <table>
          <tr>
            <th scope ="row">Quizzard Badges</th>
            <div *ngIf = "this.totalScore > 20">
              <td>Beginner Badge</td>
            </div>

            <div *ngIf = "this.totalScore > 150">
              <td>Intermediate Badge</td>
            </div>

            <div *ngIf = "this.totalScore > 250">
              <td>Expert Badge</td>
            </div>

          </tr>

          <tr>
            <th scope ="row">Quizzards Level</th>
            <td>{{this.getUserLevel()}}</td>
          </tr>
        </table>
      </div>

    </div>

  </section>
  <section class = "circle1"></section>
  <section class = "circle2"></section>
</main>
