main {
  height: 100%;
  width: 100%;
  /* min-height: 100vh; */
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  position:absolute;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  height: 100%;
  width: 100%;
  background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
        );
  border-radius: 2rem;
  z-index: 5;
  backdrop-filter: blur(2rem);
  display: flex;
  opacity: 90%;
  
}
.page-name {
  position: absolute;
  margin-top: 5px;
  margin-left: 17rem;
 }

.profile-container {
  display: flex;
  flex-flow: row wrap;
  border-width: 2px;
  border-color: black;
  background-color:transparent;
  width: 100%;
  padding: 2rem;
  justify-content: space-between;
  align-items: top;
}

.profile-banner {
  width: 100%;
  height: 5rem;
  background-color: transparent;  
  opacity: 95%;
  position: fixed;
}

.user-data {
  max-width: 50rem;
  min-width: 30rem;
  min-height: 5rem;  
  background-color: rgb(139, 214, 233);
  border-radius: 1rem;
  text-align: center;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 95%;
  font-size: larger;
}

.quiz-data {
  max-width: 50rem;
  min-width: 30rem;
  min-height: 5rem;
  background-color: rgb(139, 214, 233);
  border-radius: 1rem;
  text-align: center;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: larger;
}

.quizzard-points {
  max-width: 50rem;
  min-width: 30rem;
  min-height: 5rem;
  background-color: rgb(139, 214, 233);
  border-radius: 1rem;
  text-align: center;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: larger;
}

table, td, tr {
  width: 100%;
  padding: 10px;
}
th {
  width: 35%;
}

.circle1,.circle2{
  background: white;
  background: linear-gradient(
      to right bottom,
      rgba(255,255,255,0.8),
      rgba(255,255,255,0.1)
      );
  height: 15rem;
  width: 15rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.circle1{
  top: 5%;
  left: 10%;
}
.circle2{
  top: 60%;
  left: 75%;
}
