
<main>

  <section class = "glass">

        <div class="card" style="position: relative;margin-top: 100px; margin-left: 25%; width: 50%; height: 500px">
          <div class="card-tabs">

            <ul class="nav nav-pills nav-justified">
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>

              </li>
            </ul>

          </div>
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>


  </section>
  <section class = "circle1"></section>
  <section class = "circle2"></section>
</main>
