<div class="login">
  <div class="title" style="text-align: center;margin-top: 20px;">
    <h2>Log in to your Quizzard account</h2>
  </div>

  <div class="row">
    <div class="col">
      <div class="card"  style="margin: 15px;">
        <div class="card-body">
          <form [formGroup]="loginForm" >
            <div class="mb-3" >
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" formControlName="username" id="username" placeholder="">
              <div class="text-danger" *ngIf="f.username.pristine && submitted">Username is required</div>
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="">
              <div class="alert alert-danger" *ngIf="f.password.pristine && submitted">Password is required</div>
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary" [disabled]="this.loginForm.invalid" (click)="login()">Log In</button>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" style="text-align: center;margin-top: 10px;">
      <a routerLink="/home" routerLinkActive="active">Continue as guest user</a>
    </div>
  </div>


</div>
