<div class="dashboard">
    <div class="user">

      <div *ngIf="this.loginService.loggedIn===true;else guest">
        <figcaption style="font-size: 25px;">{{this.userName}}</figcaption>
        <div *ngIf="this.totalScore > 150 && this.totalScore < 250">
          <img (click)="goToProfile()" src="\assets\images\intermediate_wizard.jpg" alt="">
        </div>
        <div *ngIf="this.totalScore < 151">
          <img (click)="goToProfile()" src="\assets\images\beginnerwizard.jpg" alt="">
        </div>
        <div *ngIf="this.totalScore > 249">
        <img (click)="goToProfile()" src="../../../assets/images/expert_wizard.jpg" alt="">
        </div>
      </div>
      <ng-template #guest>
        <figcaption>{{this.nameService.ogName}}</figcaption>
      </ng-template>

    </div>
    <a routerLink="/home" routerLinkActive="active">
      <button type="button" class="btn btn-primary" (click)="resetQuizzes()">Home</button>
    </a>

    <div *ngIf="this.loginService.loggedIn==false;else logoutt">
      <a routerLink="/login" routerLinkActive="active">
        <button type="button" class="btn btn-primary">login</button>
      </a>
    </div>

    <ng-template #logoutt>
      <a routerLink="/login" routerLinkActive="active">
        <button type="button" class="btn btn-primary" (click)="logout()">logout</button>
      </a>
    </ng-template>


    <a routerLink="/leaderboard" routerLinkActive="active">
      <button type="button" class="btn btn-primary">leaderboard</button>
    </a>

    <div class = "badges">
    <div *ngIf = "this.totalScore > 20">
      <img src="\assets\images\beginner_badge.png" alt="">
    </div>

    <div *ngIf = "this.totalScore > 150">
      <img src="\assets\images\intermediate_badge.jpg" alt="">
    </div>

    <div *ngIf = "this.totalScore > 249">
      <img src="../../../assets/images/expert_badge.png" alt="">
    </div>
  </div>

  </div>
