.dashboard{
    flex: 1;
    flex-direction: column;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    max-width: 15rem;
    height: 100%;
    min-width: 15rem;
}
.user{
text-align: center;

}
.user img{
width: 10rem;
height: auto;
border-radius: 100px;
}

.user img:hover{
  width: 10rem;
  height: auto;
  box-shadow: rgb(175, 175, 175) 5px 5px 15px 5px;
  transition: 0.1s;
  }

  .badges {
    display: flex;
    flex-direction: column;   
    margin-left: 2rem;
  }

  .badges img{
    width: 10rem;
    height:auto;
    border-radius: 100%;
    margin-top: 2rem;
  }
