<main>

  <section class = "glass">
    <app-sidebar></app-sidebar>
    <div class="quizzes">
      <h1>Welcome to Quizzards coding quizzes!</h1>
      <p class="details">Select a language from below to start the quiz</p>
      <div class="quiz_table">

        <div class="python">
          <button class="python_column" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExamplePy" aria-expanded="false" aria-controls="collapseExamplePy">
            <p >Python</p>
          </button>

          <div class="collapse" id="collapseExamplePy">
            <div class="card card-body">

              <button class="python_column" (click)="this.quizService.python=true; this.quizService.easy=true" routerLink="/quizzes" routerLinkActive="active">Easy</button>
              <button class="python_column" (click)="this.quizService.python=true; this.quizService.medium=true" routerLink="/quizzes" routerLinkActive="active">Medium</button>
              <button class="python_column" (click)="this.quizService.python=true; this.quizService.hard=true" routerLink="/quizzes" routerLinkActive="active">Hard</button>

            </div>
          </div>

        </div>

        <div class="c_plus">
          <!-- <a class="c_plus_column" (click)="this.quizService.cpp=true" routerLink="/quizzes" routerLinkActive="active"><p>C++</p></a> -->
          <button class="c_plus_column" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleCpp" aria-expanded="false" aria-controls="collapseExampleCpp">
            <p >C++</p>
          </button>

          <div class="collapse" id="collapseExampleCpp">
            <div class="card card-body">

              <button class="c_plus_column" (click)="this.quizService.cpp=true; this.quizService.easy=true" routerLink="/quizzes" routerLinkActive="active">Easy</button>
              <button class="c_plus_column" (click)="this.quizService.cpp=true; this.quizService.medium=true" routerLink="/quizzes" routerLinkActive="active">Medium</button>
              <button class="c_plus_column" (click)="this.quizService.cpp=true; this.quizService.hard=true" routerLink="/quizzes" routerLinkActive="active">Hard</button>

            </div>
          </div>

        </div>

        <div class="java">
          <!-- <a class="java_column" (click)="this.quizService.java=true" routerLink="/quizzes" routerLinkActive="active"><p>Java</p></a> -->
          <button class="java_column" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleJava" aria-expanded="false" aria-controls="collapseExampleJava">
            <p >Java</p>
          </button>

          <div class="collapse" id="collapseExampleJava">
            <div class="card card-body">

              <button class="java_column" (click)="this.quizService.java=true; this.quizService.easy=true" routerLink="/quizzes" routerLinkActive="active">Easy</button>
              <button class="java_column" (click)="this.quizService.java=true; this.quizService.medium=true" routerLink="/quizzes" routerLinkActive="active">Medium</button>
              <button class="java_column" (click)="this.quizService.java=true; this.quizService.hard=true" routerLink="/quizzes" routerLinkActive="active">Hard</button>

            </div>
          </div>


        </div>
    </div>
    <div class = "greeter">
    <img src="../../../assets/images/wizard.png" alt="">
    <p>~ I hope you don't dissapoint me...</p>
    </div>
  </div>
    
  </section>
  <section class = "circle1"></section>
  <section class = "circle2"></section>
</main>

