.details {
  font-size: 24px;
  margin-top: 25px;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.9;
}

p {
  color: #070b0f;
  font-weight: 600;
  font-size: 0.9rem;
  opacity: 0.9;
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  /* min-height: 100vh; */
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  position:absolute;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  height: 100%;
  width: 100%;
  background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.3)
        );
  border-radius: 2rem;
  z-index: 5;
  backdrop-filter: blur(2rem);   
  display: flex;
  opacity: 90%;
}

.circle1,.circle2{
  background: white;
  background: linear-gradient(
      to right bottom, 
      rgba(255,255,255,0.8), 
      rgba(255,255,255,0.1)
      );
  height: 15rem;
  width: 15rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.circle1{
  top: 5%;
  left: 10%;
}
.circle2{
  top: 60%;
  left: 75%;
}

.quizzes {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-spacing: 0 10px;            
}
.quizzes h1,h2,h3,h4{
  font-size: 4rem;
  color: black;
}
.quiz_table {
  display: flex;
  flex-direction: row;
  height: 50%;
  /* border-spacing: 0 80px; */
  opacity: 95%;
  width: 100%;
  position: relative;
  align-content: center;
  
  /* justify-content: space-between; */
}

.python {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20%;
  top: 45px;
  height: 140px;
  align-items: center;
  padding: 20px;
  position: relative;
}

.python_column {   
  align-items: center;
  color: rgb(255, 255, 255); 
  font-size: 19px; line-height: 19px; 
  padding: 16px; border-radius: 10px; 
  font-family: Georgia, serif; font-weight: bold;
  text-decoration: none; font-style: normal;
  font-variant: normal; text-transform: none;
  background-image: linear-gradient(
        to right, rgb(28, 110, 164) 0%,
        rgb(35, 136, 203) 50%,
          rgb(20, 78, 117) 100%); 
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  border: 2px solid rgb(28, 110, 164); 
  display: inline-block;
  width: 10rem;
  min-height: 10vh;
  /* left: 30%; */
  transition: ease-out 0.3s;
  position: relative;
}

.python_column p {
  position: absolute;
  top: 40%;
  left: 25%;
  margin: 0;
  font-size: larger;
}

.python_column:hover{
  box-shadow: inset 100rem 0 0 0 rgb(35, 136, 203);
}

.c_plus {
  display: flex;
  flex-direction: column;
  
  margin-left: 5%;
  justify-content: space-evenly;
  top: 45px;
  height: 140px;
  align-items: center;
  padding: 20px;
  position: relative;
}

.c_plus_column {   
  align-items: center;
  color: rgb(255, 255, 255); 
  font-size: 19px; line-height: 19px; 
  padding: 16px; border-radius: 10px; 
  text-align: center;
  font-family: Georgia, serif; font-weight: bold; 
  text-decoration: none; font-style: normal;
  font-variant: normal; text-transform: none;
  background-image: linear-gradient(
      to right, rgb(28, 110, 164) 0%,
      rgb(35, 136, 203) 50%,
        rgb(20, 78, 117) 100%); 
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  border: 2px solid rgb(28, 110, 164); 
  display: inline-block;
  width: 10rem;
  min-height: 10vh;
  /* left: 65%; */
  transition: ease-out 0.3s;
  position: relative;
}
.c_plus_column p {
  position: absolute;
  top: 40%;
  left: 35%;
  margin: 0;
  font-size: larger;
}
.c_plus_column:hover{
  box-shadow: inset 100rem 0 0 0 rgb(35, 136, 203);
}

.java {
  display: flex;
  flex-direction: column;
  
  
  margin-left: 5%;
  justify-content: space-evenly;
  top: 45px;
  height: 140px;
  align-items: center;
  padding: 20px;
  position: relative;
}

.java_column {   
  align-items: center;
  color: rgb(255, 255, 255); 
  font-size: 19px; line-height: 19px; 
  padding: 16px; border-radius: 10px; 
  text-align: center;
  font-family: Georgia, serif; font-weight: bold; 
  text-decoration: none; font-style: normal;
  font-variant: normal; text-transform: none;
  background-image: linear-gradient(
      to right, rgb(28, 110, 164) 0%,
        rgb(35, 136, 203) 50%,
        rgb(20, 78, 117) 100%); 
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  border: 2px solid rgb(28, 110, 164); 
  display: inline-block;
  width: 10rem;
  min-height: 10vh;
  /* right: 5%; */
  transition: ease-out 0.3s;
  position: relative;
}

.java_column p {
  position: absolute;
  top: 40%;
  left: 30%;
  margin: 0;
  font-size: larger;
}

.java_column:hover{
  box-shadow: inset 100rem 0 0 0 rgb(35, 136, 203);
}

img {
  position: absolute;
  left: 25%;
  top: 70%;
  width: 15rem;
  height: auto;
}
.greeter p{
 position: absolute;
 left: 45%;
 top: 70%;
 font-size: xx-large;
}