<main>

  <section class = "glass">
    <app-sidebar></app-sidebar>

      <div *ngIf="this.loggedIn;else display">

        <h1 style="font-size: 60px;position: fixed; margin-left: 35%;margin-top: 4%;">Leaders</h1>
        <div class="card"  style="background-color: aliceblue; position: fixed; margin-left: 10%;margin-top: 10%; width: 70%; height: 600px; overflow-y: scroll;">
          <div class="card-body">
            <table>
              <tbody>
                <tr>
                  <th style="font-size: 30px;">Java</th>
                </tr>

                <tr *ngFor="let j of this.java" style="column-count: 0;">

                  <td *ngIf="j.java_score > 0 && j.java_score !== null">
                    <div *ngIf="j.randomname!==null;else normalJa">
                      {{j.randomname}} Ja: {{j.java_score}}

                    </div>
                    <ng-template #normalJa>
                      {{j.users_name }} Ja: {{j.java_score}}
                    </ng-template>
                  </td>
                </tr>
                <tr>
                  <th style="font-size: 30px;">C++</th>
                </tr>

                <tr *ngFor="let c of this.cpp;" style="column-count: 1;">
                  <td *ngIf="c.cpp_score > 0 && c.cpp_score !== null">
                    <div *ngIf="c.randomname!==null;else normalCpp">
                      {{c.randomname}} Cpp: {{c.cpp_score}}

                    </div>
                    <ng-template #normalCpp>
                      {{c.users_name }} Cpp: {{c.cpp_score}}
                    </ng-template>
                  </td>
                </tr>
                <tr>
                  <th style="font-size: 30px;">Python</th>
                </tr>

                <tr *ngFor="let p of this.python" style="position: relative;">
                  <td *ngIf="p.python_score > 0 && p.python_score !== null">
                    <div *ngIf="p.randomname!==null;else normalPy">
                      {{p.randomname}} Py: {{p.python_score}}

                    </div>
                    <ng-template #normalPy>
                      {{p.users_name }} Py: {{p.python_score}}
                    </ng-template>

                  </td>
                </tr>
              </tbody>


            </table>
          </div>
        </div>
      </div>


    <ng-template #display>
      <div *ngIf="!this.nameService.completedQuiz">
        <div class="row">
          <div class="col">
            <div class="card" style="margin-top: 40%;margin-left: 10%;">
              <div class="card-body">
                <h3>No leaders in the leaderboard yet. Take a quiz to see your name here!</h3>
              </div>
            </div>
          </div>
        </div>

      </div>

    </ng-template>


  </section>
  <section class = "circle1"></section>
  <section class = "circle2"></section>
</main>
