main {
  height: 100%;
  width: 100%;
  /* min-height: 100vh; */
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  /* display: flex; */
  position:absolute;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  height: 100%;
  width: 100%;
  background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
        );
  border-radius: 2rem;
  z-index: 5;
  backdrop-filter: blur(2rem);
  display: flex;
  opacity: 90%;
}

.circle1,.circle2{
  background: white;
  background: linear-gradient(
      to right bottom,
      rgba(255,255,255,0.8),
      rgba(255,255,255,0.1)
      );
  height: 15rem;
  width: 15rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.circle1{
  top: 5%;
  left: 10%;
}
.circle2{
  top: 60%;
  left: 75%;
}
